.modal-container {
  position: absolute;
  bottom: 10px;
  background-color: #fff;
  padding: 14px;
  width: 700px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  animation: slideY 1.5s;
}
/*animação da modal*/

@keyframes slideY {
  from {
    transform: translateY(90px);
  }
  to {
    transform: translateY(0);
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header button {
  border: 0;
  background: transparent;
}

.modal-container span {
  margin: 14px 0;
  color: #a7a7a7;
  font-size: 17px;
}

.modal-link {
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  height: 38px;
  border: 0;
  border-radius: 4px;
  color: #fff;
}

@media (max-width: 735px) {
  .modal-container {
    width: 90%;
  }
}
